body {
    background-image: url("background.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mouse-memoirs-regular {
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.titlewrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    height: 15%;
    width: 100%;
    border: 2px solid #000000;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(12, 61, 104);
    text-transform: uppercase;
}

.contentwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%
}

.contentwrapper > div {
    display: flex;               
    justify-content: center;
    align-items: center;         
}

.margins {
    align-items: center;
    display: flex;
    justify-content: 30px;
    height: 10%;
    width: 100%;
    border: 0px solid #000000;
}

.margins2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7%;
    width: 100%;
}
  
.nextbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-size: xx-large;
    height: 100%;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.box {
    box-shadow: inset 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80%;
    background: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 25px;
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}
.box:hover {
    background-color: rgb(197, 224, 233);
}
.box:paused {
    background-color: blue;
}

.nextbutton:hover {
    background-color: rgb(162, 228, 214);
}

.quizname {
    flex: 1;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.score {
    position: absolute;
    left: 10px;
    font-size: large;
    color: white;
}